<div class="signin">

<h1>Log In!</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email %><br> <%= f.text_field :email %><br />
    <%= f.label :password %> <br><%= f.password_field :password %><br><br />
    <%= f.submit "Sign In!" %><br>
    <% end %>
<br>
<%= link_to "Signup for New Account!", signup_path %>
</div>

<br><br><br><br><br><br><br>