    
  <div class="show">
    <h1>Users!</h1>
    <div class="table-responsive">
	    <table class="table table-hover">
	     <tr class="info">
	       <th>UserName</th>
	       <th> E-mail ID</th>
	       <th></th>
	       <th></th>
	       <th></th>
	   </tr>
	   <% @users.each do |c| %>
		<tr class="active">
	        <td><%= c.name %></td>
	        <td><%= c.email %></td>
	        <td><%= link_to "Show", user_path(c) %></td>
            <td><%= link_to "Edit", edit_user_path(c) %>     </td>      
            <td><%= link_to "Delete", c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	   </tr>
	   <% end %>
	   </table>
    </div>
  </div>  
<br><br><br><br><br>