    <h1>Users!</h1>
    <ul>
        <% @users.each do |u| %>
            <li>
                <strong> User name is <%= u.name %> ,E-mail ID:<%= u.email %> & password is <%= u.password %> </strong>
                <%= link_to "Edit user!", edit_user_path(u) %>
                 <%= link_to "Delete user!", @user, method: :delete, data: {confirm: 'Are you sure?'} %>
            </li>
        <% end %>
    </ul>
