<div class="new">

<h1>Signup!</h1>

<%= form_for @user do |f| %><br>
     <%= f.label :name %><br>
     <%= f.text_field :name %><br>

     <%= f.label :email %><br>
     <%= f.text_field :email %><br>

     <%= f.label :password %><br>
     <%= f.password_field :password %><br>

     <%= f.label :password_confirmation %><%= @user.errors.messages[:password].join(", ") %><br>
     <%= f.password_field :password_confirmation %><br><br>

     <%= f.submit "Sign Me Up!" %><br>
     <%= link_to "Log in!", sessions_path %><br>
<% end %><br>
   
    <%= link_to "Back to the list!", users_path %>
    </div>
    <br><br><br><br><br>