

    <h1>Show Users!</h1>
    <ul>
            <li>
            <strong> Username: <%= @user.name %> , E-mail:<%= @user.email %>, Password: <%= @user.password %> </strong>

            <%= link_to "Delete this user!", @user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Back to the list!", users_path %>    
            </li>
    </ul>