<h1>Edit users info</h1>

    <%= form_for @user do |f| %>
        Name: <%= f.text_field :name %>
        Email: <%= f.text_field :email %>
        Password: <%= f.text_field :password %>


        <%= f.submit "Edit user!" %>

    <% end %>

    <%= link_to "Back to the list!", users_path %>
