  <h1>Welcome to Car Opinion</h1>

  <div id="carousel-id" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-id" data-slide-to="1"></li>
        <li data-target="#carousel-id" data-slide-to="2"></li>
        <li data-target="#carousel-id" data-slide-to="3"></li>
        <li data-target="#carousel-id" data-slide-to="4"></li>
        <li data-target="#carousel-id" data-slide-to="5"></li>
      </ol>
    <!-- Wrapper for slides -->
      <div class="carousel-inner">
            <div class="item active">
            <%= image_tag "camaro.jpg", :class => "style_image"%>
              <div class="carousel-caption">
                  2015 Camaro
              </div>
            </div>
            <div class="item">
            <%= image_tag "charger.jpg", :class => "style_image"%>
              <div class="carousel-caption">
                2014 charger <p></p>
              </div>
            </div>
            <div class="item">
            <%= image_tag "farrari.jpg", :class => "style_image"%>
              <div class="carousel-caption">
                2014 farrari
              </div>
            </div>
            <div class="item">
            <%= image_tag "Lamborghini.jpg", :class => "style_image"%>
              <div class="carousel-caption">
                2012 Lamborghini <p></p>
              </div>
            </div>
            <div class="item">
            <%= image_tag "peugeot.jpg", :class => "style_image"%>
              <div class="carousel-caption">
                2011 peugeot <p></p>
              </div>
            </div>
      </div>
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-id" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-id" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
      <div class="table-responsive">
    <table class="table table-hover">
        <tr class="info">
              <th>Make </th>
              <th>Model</th>
              <th>Year</th>
              <th>Trim</th>
              <th>Mileage</th>
              <th>Transmission</th>
              <th>Colour</th>
              <th>Title</th>
              <th></th>
              <th></th>
              <th></th>
        </tr>
      <% @cars.each do |c| %>
        <tr class="active">
            <td><%= c.make %></td>
            <td><%= c.model %></td>
            <td><%= c.year %></td>
            <td><%= c.trim %></td>
            <td><%= c.mileage %></td>
            <td><%= c.transmission %></td>
            <td><%= c.colour %></td>
            <td><%= c.title %></td>
        </tr>
   
 <% end %>
   </table>
    </div>
<div>
<%= form_for :poll do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Suggestion %><br>
    <%= f.text_area :text %>
  </p>
  <p>What you think is the best price for this vehicle?</p>
 <%= radio_button_tag(:price, "low") %>
<%= label_tag(:price_low, "Below $5000") %>
<%= radio_button_tag(:price, "medium") %>
<%= label_tag(:price_medium, "Between $5000-$10000") %>
<%= radio_button_tag(:price, "high") %>
<%= label_tag(:price_high, "Above $10000") %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
  <br><br><br><br><br>