<div class="container">
      <!-- row 1 -->
        <div id="navbar">
              <header class="logo"><div class="enter">
           <%= yield %>
          </div>
                <img src="assets/c-logo.jpg" alt="click for home." class="img-responsive">
             </header>

        </div>
      <!-- row 2 -->
      <div id="carousel-id" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-id" data-slide-to="1"></li>
          <li data-target="#carousel-id" data-slide-to="2"></li>
          <li data-target="#carousel-id" data-slide-to="3"></li>
          <li data-target="#carousel-id" data-slide-to="4"></li>
        </ol>
      <!-- Wrapper for slides -->
        <div class="carousel-inner">
              <div class="item active">
                <img src="assets/camaro.jpg" style="width:1020px; height:440px"/>
                <div class="carousel-caption">
                    2015 Camaro 
                </div>
              </div>
              <div class="item">
               <img src="assets/charger.jpg" style="width:1020px; height:440px" class="img-responsive" />
                <div class="carousel-caption">
                  2014 charger 
                </div>
              </div>
              <div class="item">
               <img src="assets/farrari.jpg" style="width:1020px; height:440px" class="img-responsive" />
                <div class="carousel-caption">
                  You Can Pinin My Farina 
                </div>
              </div>
              <div class="item">
               <img src="assets/Lamborghini.jpg" style="width:1020px; height:440px" class="img-responsive" />
                <div class="carousel-caption">
                  2014 Lamborghini 
                </div>
              </div>
              <div class="item">
               <img src="assets/peugeot.jpg" style="width:1020px; height:440px" class="img-responsive" />
                <div class="carousel-caption">
                  2013 peugeot 
                </div>
              </div>
          </div>
        </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-id" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-id" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
</div> <!-- end container -->

<div class="show">
<h1>Cars!</h1>
    <ul>
        <% @cars.each do |c| %>
            <li>
                <strong> Make is </strong><%= c.make %>
                <strong> Year: </strong><%= c.year %>
                <strong> Veh. trim</strong> <%= c.trim %>
                <strong> Mileage on veh.</strong> <%= c.mileage %>
                <strong> veh. transmission is </strong><%= c.transmission %>
                <strong> Colour is </strong><%= c.colour %> 
                <strong>and asking price is</strong> $ <%= c.price %> 
            </li>
            <% end %>
    </ul>
</div>
<div>
    <div>
        Poll: How much should I pay:

    </div>
    <div>
        Answers:
        <%= form_for @poll do |f| %>
             <%= radio_button_tag(:price, "valuelow") %>
            <%= label_tag(:price_valuelow, "Between : 2500 - 5000") %>
            <%= radio_button_tag(:price, "valuehigh") %>
            <%= label_tag(:price_valuehigh, "Between : 5000 - 7500") %>
             <%= f.submit %>
        <% end %>
    </div>
</div>