    <h1>Cars!</h1>
    <ul>
        <% @cars.each do |c| %>
            <li>
                <strong> <%= c.make %> -- <%= c.year %> -- <%= c.trim %> -- <%= c.mileage %> --<%= c.price %> -- <%= c.transmission %> -- <%= c.colour %> -- <%= c.description %></strong>
                <%= link_to "More details!", cars_path(c) %>
                <%= link_to "Edit car details!", edit_car_path(c) %>
                 <%= link_to "Delete this car!", @car, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>
            </li>
        <% end %>
    </ul>