<h1>Show Cars</h1>

    
    <ul>
        <li>
        <strong> Make of the car: <%= @car.make %> , year is: <%= @car.year %> , trim <%= @car.trim %> , mileage on car:  <%= @car.mileage %> asking price: <%= @car.price %> , transmission <%= @car.transmission %> , colour<%= @car.colour %> </strong>
            <%= link_to "Delete this car!", @car, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Back to the list!", cars_path %>  
        </li>
    </ul>