<div class="show">
<h1>Show Cars</h1>

    <div class="show">
    <h1>Cars!</h1>       
    <div class="table-responsive">
    <table class="table table-hover">
        <tr class="info">
              <th>Make </th>
              <th>Model</th>
              <th>Year</th>
              <th>Trim</th>
              <th>Mileage</th>
              <th>Transmission</th>
              <th>Colour</th>
              <th>Title</th>
              <th></th>
        </tr>
        <tr class="active">
            <td><%= @car.make %></td>
            <td><%= @car.model %></td>
            <td><%= @car.year %></td>
            <td><%= @car.trim %></td>
            <td><%= @car.mileage %></td>
            <td><%= @car.transmission %></td>
            <td><%= @car.colour %></td>
            <td><%= @car.title %></td>
            <td> <%= link_to "Delete this car!", @car, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
   </table>

    </div>
</div>
              
           <%= link_to "Back to the list!", cars_path %>  
  

</div>