<h1>Show Cars</h1>

    
    <ul>
        <li>
        <strong> Make of the car: <%= @car.make %>,
        		Year is: <%= @car.year %>,
        		Trim <%= @car.trim %>,
        		Mileage on car:  <%= @car.mileage %>,
        		asking price: <%= @car.price %>,
        		Transmission <%= @car.transmission %>,
        		Colour<%= @car.colour %>,
        		Title<%= @car.title %></strong>

              <%= @car.picture.url %>
              <%= image_tag @car.picture.url(:thumb) %>
              
            <%= link_to "Delete this car!", @car, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Back to the list!", cars_path %>  
        </li>
    </ul>
<div>
    <div>
        Poll: How much should I pay:

    </div>
    <div>
        Answers:
        <%= form_for @poll do |f| %>
             <%= radio_button_tag(:price, "valuelow") %>
            <%= label_tag(:price_valuelow, "Between : 2500 - 5000") %>
            <%= radio_button_tag(:price, "valuehigh") %>
            <%= label_tag(:price_valuehigh, "Between : 5000 - 7500") %>
             <%= f.submit %>
        <% end %>
    </div>
</div>