<h1>Update car info</h1>

    <%= form_for @car do |f| %>
        Make: <%= f.text_field :make %>
        Model: <%= f.text_field :model %>
        Year: <%= f.text_field :year %>
        Trim: <%= f.text_field :trim %>
		Mileage: <%= f.text_field :mileage %>
		Price: <%= f.text_field :price %>
		Transmission: <%= f.text_field :transmission %>
		Colour: <%= f.text_field :colour %>
		Descripition: <%= f.text_field :title %>

         <%= f.label :picture %>
         <%= f.file_field :picture %>

        <%= f.submit "Edit car details!" %>

    <% end %>

    <%= link_to "Back to the list!", cars_path %>

