<!DOCTYPE html>
<html>
<head>
  <title>Car_pinion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
   
<body>
<br><br>
<div class="container">
        <div id="navbar">
          <header class="logo">
          <img src="assets/c-logo.jpg" alt="click for home." class="img-responsive">
          </header>
        </div>
        <div class="enter">
                            Logged In: <%=session[:email]%><br>
                           <%= link_to "Log out!", log_out_path, method: :delete%>
          <%= yield %>
        </div>
</div> <!-- end container -->
      <!-- row 4 -->
    <footer class="footer">
        <div class="col-md-3 col-xs-3">
            <p>About Us</p><p>Blog</p>
            <p><a href="#" class="btn btn-success btn-xs">Read more >></a></p>
        </div>
        <div class="col-md-3 col-xs-3">
            <p>Nearby Grage</p>
            <p>Mobile Mechanic</p>
            <p><a href="#" class="btn btn-success btn-xs">Read more >></a></p>
        </div>
        <div class="col-md-3 col-xs-3">
            <p>Terms of use</p>
            <p>Policy</p>
            <p><a href="#" class="btn btn-success btn-xs">Read more >></a></p>
         </div>
         <p><small>Contact us.</small></p>
         <p><img src="assets/logo.jpg" alt="" class="img-responsive img-rounded "></p>
    </footer>
</body>
</html>
